html {
    height: 100%;
}

body{
	margin-top: 0px;
	background-color: lightgrey;
	transition: background 1.2s ease;
	height: 90%;
}

header{
	padding: 1%;
}

.logo{
	height: 64px;
}

.container{
	text-align: center;
	box-sizing: border-box;
	padding: 0px;
	position: absolute;
	top: 45%;
	left: 0px;
	right: 0px;
	color: white;
}

#color{
	font-family: 'Advent Pro';
	font-size: 4.5em;
	padding: 0;
	margin: auto;
	width: 20rem;
	transition: font-size 0.1s ease;
}

#shades-btn{
	font-size: 2.5em;
	padding-left: 10px;
	margin-bottom: 30px;
	vertical-align : bottom; 
	cursor: pointer;
}

.sub{
	display: none;
	font-family: 'Advent Pro';
	list-style-type: none;
	position: absolute;
	right: 0;
	top: 10%;
	text-align: center;
	width: 30%;
	color: white;
}

.shade{
	font-size: 2.0em;
	transition: background 1.2s ease;
	cursor: pointer;
}

.first{
	border-radius: 10px 0px 0 0;
}

.last{
	border-radius: 0 0 0px 10px;
}

.previous{
	color: lightgrey;
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 40px;
	padding-bottom: 20px;
	z-index: 5;
}

input{
	position: absolute;
    left: -1000px;
}

#previous-btn{
	transition: font-size 0.1s ease;
	font-size: 2.8em;
}

.type{
	font-family: 'Advent Pro';
	color: white;
	font-size: 2.0em;
	width: 90%;
	position: absolute;
	bottom: 0;
	padding-bottom: 100px;
	text-align: center;
	cursor: pointer;
}

footer{
	text-align: right;
	font-size: 0.8em;
	color: white;
    margin: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
    font-family: 'Share Tech Mono', monospace;
}

footer a{
	color: white;
}

footer a:visited{
	color: white;
}

footer a:hover{
	color: lightgray;
}